$primaryColor: #152533;
$primaryTextColor: #ffffff;
$navbarColor: #797874;

.dashboard {
	background-color: $primaryColor;
	//color: $primaryTextColor;
}

.navbar {
	border-bottom-color: #000;
	background-color: $navbarColor;
	
}

.nav.navbar-nav li a {
	color: #fff;
}

.navbar-default .navbar-brand {
	color: $primaryTextColor;
	cursor: default;
}

.navbar-default .navbar-brand:hover {
 	color: $primaryTextColor;
}

.dropdown .dropdown-menu {
	background-color: $navbarColor;
}

.navbar-nav {
	display: none;
}

.center {
	text-align: center;
}

.add-new-board {
	opacity: 0.7;
	cursor: pointer;
}

.fa-pencil {
	cursor: pointer;
}

.pad-inputs {
	background: transparent;
    border: none;
    outline: none;
}

.panel-date {
	margin-top: -20px;
	position: absolute;
	right: 20px;
}

.panel-date-extra-margin {
	margin-top: 8px;
}

.marg {
	margin-bottom: 20px;
}

.circle {
	border-radius: 50%;
	width: 33px;
	height: 33px;
	border: 2px solid red;
	position: absolute;
	right: 20px;
	margin-top: -27px;
	text-align: center;
	padding-top: 5px;
	color: red;
}

.panel {
	min-height: 120px;
	cursor: pointer;
}

textarea {
	overflow-y: hidden;
	outline: none;
	resize: none;
	width: 95%
}

.toast {
	min-width: 250px;
	height: 45px;
	background-color: #008542;
	z-index: 2;
	position: absolute;
	color: #FFFFFF;
	right: 0;
	bottom: 0;
	padding: 10px;
	font-size: 18px;
	display: none;
}

@media all and (max-width: 767px) {
	.navbar-nav {
		display: block;
	}

	.nav.navbar-nav li a {
		color: #ffffff;
	}
}