$primaryColor: #152533;
$primaryTextColor: #ffffff;

#welcomebody {
	background-color: $primaryColor;
	color: $primaryTextColor;
}

.container-top {
	 max-width: 600px; 
	 margin-top: 60px;
}